#homeWrapper{
    width:100%;
    margin:auto;
    max-width:800px;
    min-width:260px;
}

#homeWrapper header{
    width:75%;
    margin:auto;
    text-align:right;
    border-bottom: solid 3px;
    color:#778088;
}

#homeWrapper header h1{
    margin-bottom:0px;
    font-size:18px;
    font-weight:600;
    letter-spacing:1px;
    /*border-bottom: solid 3px;*/
    color:#778088;
}

#homeWrapper header h1 a{
    color:#778088;
    text-decoration:none;
    border:0px solid white;
    transition: border-right 1s;
}

#homeWrapper header h1 a:hover{
    border-right:20px solid white;
}
#homeWrapper nav{
    width:75%;
    margin:auto;
}

#homeWrapper nav a{
    display:flex;
    align-items: center;
    width:97%;
    margin:5%;
    margin-bottom:15px;
    font-size:28px;
    font-family:sans-serif;
    letter-spacing:2px;
    text-decoration:none;
    color:#778088;
    border:solid white 0px;
    transition: border-left 1s;
}

#homeWrapper nav a.writing{
    border-left: solid 3px #778088;
    /*padding-left:20px;*/
    padding-left:3%;
}

#homeWrapper nav a:hover{
    border-left:solid 25px white;
}

#homeWrapper nav a img{
    width:50px;
    height:50px;
    margin-right:2%;
    background-size:50px,50px;
}


@media screen and (min-width:300px){
    #homeWrapper{
        width:85%;
    }
}

@media screen and (min-width:525px){
    #homeWrapper nav a img{
        width: 75px;
        height:75px;
    }

    #homeWrapper nav a{
        font-size:36px;
        letter-spacing:5px;
    }

    #homeWrapper header h1{
        font-size:22px;
    }
}

@media screen and (min-width:800px){
    #homeWrapper nav a img{
        width: 100px;
        height: 100px;
    }

    #homeWrapper nav a{
        font-size:42px;
        letter-spacing:7px;
    }
}

#writingsWrapper{
    width:50%;
    margin:auto;
    display:flex;
    justify-content:space-around;
}

#writingsWrapper{
    width:85%;
}

#writingsWrapper nav{
    margin:15px;
}

#writingsWrapper nav a, a{
    color:#7b869d;
    text-decoration-color:#c4c9d4;
}

#writingsWrapper a:has(> figure){
    text-decoration-line:none;
}

#writingsWrapper nav a:visited, a:visited{
    color:#7b869d;
    text-decoration:none;
}

#writingsWrapper .info{
    width:90%;
    font-size:15px;
    /*color:#35363a;*/
    color:#474d52;
}

#writingsWrapper article{
    /*color:#2F343F;*/
    color:#5f666d;
    /*color:#778088;*/
    font-family:sans-serif;
    text-align:justify;
    line-height:1.55;
    font-size:17px;
}

#writingsWrapper header{
    text-align: left;
}

#writingsWrapper figure{
    width:95%;
    margin:auto;
    padding:2%;
    padding-bottom:0%;
}

#writingsWrapper figcaption{
    color:#7b869d;
    font-size:15px;
    margin:1%;
}

#writingsWrapper article img{
    display:block;
    width:100%;
    margin:auto;
}

#writingsWrapper article img.animate{
    width:100%;
    height:300px;
    object-fit:cover;
}

#writingsWrapper div.aside{
    clear:both;
}

#writingsWrapper div.aside figure{
    float:right;
    width:25%;
    margin-left:5%;
    margin-right:1%;
    margin-top:1%;
    margin-bottom:2%
}

#writingsWrapper div.aside figure.responsive_aside{
    margin-top:1%;
    margin-bottom:2%;
    margin:auto;
    width:65%;
    float:none;
    display:none;
}

#grid-control h4{
    margin-bottom:0px;
}

#grid-control ul{
    text-align: left;
    margin-top:10px;
}

#grid-control ul li{
    margin:1%;
}

#grid-control ul li input{
    margin:1%;
}

#grid-control ul.horizontal{
    width:42%;
    float:left;
}

figure.image-collage{

}

figure.image-collage ul li{
    display:inline-block;
}

#writingsWrapper figure.image-collage ul li{
    width:49%;
}

#writingsWrapper figure.image-collage ul li#sixty{
    width: 60%;
}

#writingsWrapper figure.image-collage ul li#thirty{
    width: 35%;
}

#writingsWrapper figure.image-collage ul li figure figcaption{
    display:none;
}

figure.slide-deck figcaption ul{
    margin:auto;
    text-align:center;
}

figure.slide-deck figcaption ul li{
    display:inline-block;
}

figure.slide-deck ul li{
    list-style-type:none;
}

figure.slide-deck ul li figure img{
    border: solid #E9ECEF 3px;
    /*padding-left:5px;
    padding-right:5px;*/
}

figure.slide-deck figcaption ul li a{
    font-size:24px;
    padding-left:30px;
    padding-right:30px;
    cursor:pointer;
}

figure.slide-deck figcaption ul li a:hover{
    color:black;
}


figure.slide-deck figcaption ul li:hover{
    color:black;
}

@media screen and (min-width: 1100px){
    #writingsWrapper{
        width:50%;
    }
}

@media screen and (min-width:480px){
    #writingsWrapper article img.animate{
        height:400px
    }

    #writingsWrapper article img#black-hills-path{
        height:350px;
    }

}

@media screen and (max-width: 480px){
    #writingsWrapper article img#black-hills-path{
        height:200px;
    }

    #writingsWrapper .info{
        width:100%;
    }
}

@media screen and (max-width:600px) and (min-width: 481px){
   #writingsWrapper article img#black-hills-path{
        height:225px;
    }
}

@media screen and (max-height:500px) and (min-width:480px){
    #writingsWrapper article img.animate{
        height:250px;
    }

    #writingsWrapper article img#black-hills-path{
        height:250px;
    }
}

@media screen and (max-width:800px){
    #writingsWrapper article ul{
        padding-left:5%;
    }

    #writingsWrapper article li{
        margin-bottom:10px;
    }

    #writingsWrapper div.aside figure{
        width:35%;
    }

    #writingsWrapper figure.image-collage ul li figure{
        width:100%;
    }

    #grid-control ul.horizontal{
        width:45%;
    }

    #grid-control ul li{
        font-size:14px;
    }

    #grid-control ul li input{
        font-size:12px;
    }

}

@media screen and (max-width:600px){
    #grid-control ul.horizontal{
        margin-top:10px;
        margin-bottom:5px;
        display:inline-block;
        width:90%;
    }

    #grid-control ul.horizontal li{
        display:inline-block;
    }

    #grid-control ul.horizontal li label{
        display:none;
    }

    #grid-control ul.horizontal li input{

    }

    #grid-control ul li br{
        display:none;
    }

    #writingsWrapper div.aside figure.responsive_aside{
        display:block;
        width:60%;
    }

    #writingsWrapper div.aside figure{
        display:none
    }

    figure.slide-deck figcaption ul li{
        font-size:16px;
    }

    figure.slide-deck figcaption ul li a{
        padding:10px;
        font-size:18px;
    }

    #writingsWrapper figure.image-collage ul li{
        width:100%;
    }

    #writingsWrapper figure.image-collage ul li figure figcaption{
        display:block;
    }

    #writingsWrapper figure.image-collage figcaption{
        display:none;
    }

    #writingsWrapper figure.image-collage ul li#sixty{
        width: 100%;
    }

    #writingsWrapper figure.image-collage ul li#thirty{
        width: 85%;
        margin-left:5%;
    }

}

@media screen and (max-width:300px){
    #writingsWrapper article ul li{
        /*list-style-type:none;*/
        margin-left:20px;
    }

    #writingsWrapper div.aside figure.responsive_aside{
        width:80%;
    }
}
